<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pedidos</title>
	<link rel="stylesheet" type="text/css" href="../estilos/global.css">
	<link rel="stylesheet" href="../estilos/graficos.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<div class="grid-conteiner">
		<header class="encabezado">
			<h1 class="titulo">Smart</h1>
			<i class="fas fa-car logo"></i>
		</header>
		<div class="contenido">
			<div class="grid-boton">
				<i class="fas fa-file-invoice logo-menu"></i>
                <p class="texto-boton">Graficos</p>
            </div>
            <div class="graficos">
                    <iframe width="532px" height="290.5" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmGRDWLyNrvChzSFxm0Lq6p0_1OQjYVAMS7fVyJDfbE8LF-Vqsa-m0w5ZLkbKEXArR9n-qgq_XhSuP/pubchart?oid=652648098&amp;format=image"></iframe>
            </div>
			

		</div>


<div class="sidebar">
   <div class="ultimas-noticias">
      <p class="titulo-sidebar">Ultimas Noticas</p>
      <div class="lista-sidebar">
         <ul class="ul-sidebar">
            <li class=texto-sidebar>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li class=texto-sidebar>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li class=texto-sidebar>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
         </ul>
      </div>
   </div>
   <div class="objetivos">
      <p class="titulo-sidebar">Objetivos</p>
      <div class="lista-sidebar">
         <ul class="ul-sidebar">
            <li class=texto-sidebar>Ventas por Semana</li>
            <li class=texto-sidebar>Ventas Por mes</li>
            <li class=texto-sidebar>Ventas por Año</li>
         </ul>
      </div>
   </div>
</div>
<div class="footer">
   <div class="smart-com">
      <p class="rights">Smart Company | All rights  reserved &copy;</p>
   </div>
   <div class="footer-com">
      <p class="contacto">Contactanos</p>
      <p class="sobre-nosotros">Sobre Nosotros</p>
      <div class="logos">
         <i class="fab fa-instagram logo-footer"></i>
         <i class="fab fa-facebook-square logo-footer"></i>
         <i class="fab fa-twitter-square logo-footer"></i>
      </div>
   </div>
</div>



	</div>
	<script src="../templates/js/scripts.js"></script>
	<script src="../templates/js/modal-ventas.js"></script>
</body>
</html>