<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pedidos</title>
	<link rel="stylesheet" type="text/css" href="../estilos/global.css">
	<link rel="stylesheet" href="../estilos/graficos.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<div class="grid-conteiner">
		<header class="encabezado">
			<h1 class="titulo">Smart</h1>
			<i class="fas fa-car logo"></i>
		</header>
		<div class="contenido">
			<div class="grid-boton">
				<i class="fas fa-file-invoice logo-menu"></i>
                <p class="texto-boton">Graficos</p>
            </div>
            <div class="graficos">
                    <iframe width="532px" height="290.5" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmGRDWLyNrvChzSFxm0Lq6p0_1OQjYVAMS7fVyJDfbE8LF-Vqsa-m0w5ZLkbKEXArR9n-qgq_XhSuP/pubchart?oid=652648098&amp;format=image"></iframe>
            </div>
			

		</div>
		<nav class="sidebar">
			sidebar
		</nav>
		<footer class="footer">
			footer
		</footer>
	</div>
	<script src="../templates/js/scripts.js"></script>
	<script src="../templates/js/modal-ventas.js"></script>
</body>
</html>